* {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  margin: 0%;
}
.page {
  background-image: url(/images/bg-1.png);
  width: 1280px;
  margin: 0;
  padding-top: 220px;
  background-repeat: no-repeat;
  background-position: 85px top;
}
.h1 {
  width: 846px;
  margin: 0 auto 110px;
  font-weight: 400;
  font-size: 70px;
  line-height: 78px;
  text-align: center;
  color: #515076;
}
.product-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.product-card {
  width: 340px;
  min-height: 573px;

  padding: 25px;
  margin: auto;
  background-color: #51507610;
}
.product-card-img {
  display: block;
  width: 290px;
  height: 245;
  margin: auto;
}
.product-card_for-scin {
  font-weight: 400px;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: #a5a3b9;
}
.product-card_title {
  font-weight: 700px;
  line-height: 20px;
  font-size: 20px;
  color: #515076;
}
.product-card_prise-wrapper {
  display: flex;
  justify-content: space-between;
}
.product-card__price-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #515076;
}
.product-card_price {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
