* {
  font-family: montserrat;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  margin: 0%;
  color: #515076;
}

.buttons {
  box-shadow: 5px 4px 8px 8px;
  margin: 100px 30px;
  background-color: burlywood;
  border: 1px solid rgba(26, 219, 226, 0.827);

  position: absolute;
  top: 10px;
  right: 50px;
}

div.page {
  background-image: url("/images/bg-dandelions.png");
  margin: 0px 0px 0px px;
  padding: 0;
  padding-top: 200px;
  background-repeat: no-repeat;
  background-position: 70px top;
}

.h1 {
  width: 790px;
  margin: 0px 217px 110px 217px;
  font-weight: 400;
  font-size: 70px;
  line-height: 78px;
  text-align: center;
}

.product-card-wrapper {
  top: 408px;
  left: 85px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1, 110px;
  height: 1, 191px;
  gap: 20px;
  max-width: 1200px;
  margin: auto;
}

.product-card {
  width: 340px;
  min-height: 573px;
  top: 408px;
  left: 85px;
  padding: 25px;
  margin: 0px;
  background-color: #51507610;
}

.product-card-img {
  display: block;
  width: 290px;
  height: 245;
  margin: 0px 0px 30px;
}

.product-card_for-scin {
  width: 171px;
  height: 24px;
  top: 708px;
  left: 110px;
  font-weight: 400;
  size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #a5a3b9;
  margin: 0px 0px 5px 0px;
}

.product-card_title {
  height: 27px;
  top: 737px;
  left: 110px;
  font-weight: 700;
  size: 20px;
  margin: 5px 0px 5px 0px;
}

.product-card_desci {
  width: 291px;
  height: 36px;
  top: 1387px;
  left: 687px;
  size: 13px;
  line-height: 18px;
  margin: 0px 0px 15px 0px;
}

.product-card_text {
  width: 49px;
  height: 18px;
  top: 1438px;
  left: 302px;
  margin: 5px 0px 5px 0px;
}

.product-card_composition {
  list-style-type: circle;
  padding: 0;
  margin: 0px 0px 0px 15px;
}

.product-card_item {
  padding: 0;
  margin: 0;
}

.product-card_prise-wrapper {
  display: flex;
  justify-content: space-between;
  width: 290px;
  height: 24px;
  top: 1550px;
  left: 302px;
  padding: 0;
  margin: 25px auto;
}

.product-card__prise-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.product-card_prise {
  font-weight: 400;
  font-size: 20px;
}
