* {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
* {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  margin: 0%;
  color: #515076;
}
.page {
  background-image: url(/images/bg-1.png);
  width: 1280px;
  margin: 0;
  padding-top: 220px;
  background-repeat: no-repeat;
  background-position: 85px top;
}
.h1 {
  width: 846px;
  margin: 0 auto 110px;
  font-weight: 400;
  font-size: 70px;
  line-height: 78px;
  text-align: center;
}
.product-card-wrapper {
  width: 1, 110px;
  height: 1, 191px;
  top: 408px;
  left: 85px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.product-card {
  width: 340px;
  min-height: 573px;
  top: 408px;
  left: 85px;
  padding: 25px;
  margin: auto;
  background-color: #51507610;
}
.product-card-img {
  display: block;
  width: 290px;
  height: 245;
  margin: auto;
}
.product-card_for-scin {
  width: 171px;
  height: 24px;
  top: 708px;
  left: 110px;
  font-weight: 400;
  size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #a5a3b9;
}
.product-card_title {
  height: 27px;
  top: 737px;
  left: 110px;
  font-weight: 700;
  size: 20px;
}
.product-card_desci {
  width: 291px;
  height: 36px;
  top: 1387px;
  left: 687px;
  size: 13px;
  line-height: 18px;
}
.product-card__all-compound {
}
.product-card_composition {
}
.product-card_text {
  width: 49px;
  height: 18px;
  top: 1438px;
  left: 302px;
}
.product-card_prise-wrapper {
  display: flex;
  justify-content: space-between;
  width: 290px;
  height: 24px;
  top: 1550px;
  left: 302px;
}
.product-card__prise-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.product-card_prise {
  font-weight: 400;
  font-size: 20px;
}
